In [1]:
import polars as pl
from datetime import datetime
import get_and_store as gas
import polars_indicators as pid
from polars_indicators import IndicatorResult
DATE_COLUNN = "Date"

In [2]:
symbols = ['A','AA']

In [3]:
df = gas.get_symbols_df(symbols)
df = df.filter(pl.col('Date') >= datetime(2021, 1, 1))
df = df.collect()

In [4]:
df

shape: (1100, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬─────────┬────────┐
│ Date       ┆ Open       ┆ High       ┆ Low        ┆ Close      ┆ Adj Close  ┆ Volume  ┆ Symbol │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---     ┆ ---    │
│ date       ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64     ┆ str    │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═════════╪════════╡
│ 2021-01-04 ┆ 118.940002 ┆ 120.089996 ┆ 117.110001 ┆ 118.639999 ┆ 117.230392 ┆ 2030700 ┆ A      │
│ 2021-01-05 ┆ 118.480003 ┆ 120.32     ┆ 118.07     ┆ 119.610001 ┆ 118.188873 ┆ 2344000 ┆ A      │
│ 2021-01-06 ┆ 118.690002 ┆ 123.879997 ┆ 118.209999 ┆ 122.889999 ┆ 121.429886 ┆ 2428500 ┆ A      │
│ 2021-01-07 ┆ 124.330002 ┆ 127.480003 ┆ 124.110001 ┆ 126.160004 ┆ 124.661041 ┆ 1775900 ┆ A      │
│ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …       ┆ …      │
│ 2023-03-07 ┆ 52.779999  ┆ 53.040001  ┆ 49.919998  ┆ 50.169998  ┆ 50.169998  ┆ 6298100 ┆ AA     │
│ 2023-03-08 ┆ 50.41      ┆ 51.240002  ┆ 49.75      ┆ 51.02      ┆ 51.02      ┆ 3467000 ┆ AA     │
│ 2023-03-09 ┆ 50.700001  ┆ 51.139999  ┆ 47.330002  ┆ 47.900002  ┆ 47.900002  ┆ 5590500 ┆ AA     │
│ 2023-03-10 ┆ 48.119999  ┆ 48.119999  ┆ 44.459999  ┆ 44.91      ┆ 44.91      ┆ 6190400 ┆ AA     │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴─────────┴────────┘

In [5]:
sma25 = pi.simple_moving_average(df, days=25)
sma50 = pi.simple_moving_average(sma25.df, days=50)
df = sma50.df
df

shape: (1100, 10)
┌────────────┬────────────┬────────────┬────────────┬───┬─────────┬────────┬─────────┬─────────┐
│ Date       ┆ Open       ┆ High       ┆ Low        ┆ … ┆ Volume  ┆ Symbol ┆ SMA25   ┆ SMA50   │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---     ┆ ---    ┆ ---     ┆ ---     │
│ date       ┆ f64        ┆ f64        ┆ f64        ┆   ┆ i64     ┆ str    ┆ f64     ┆ f64     │
╞════════════╪════════════╪════════════╪════════════╪═══╪═════════╪════════╪═════════╪═════════╡
│ 2021-01-04 ┆ 118.940002 ┆ 120.089996 ┆ 117.110001 ┆ … ┆ 2030700 ┆ A      ┆ null    ┆ null    │
│ 2021-01-05 ┆ 118.480003 ┆ 120.32     ┆ 118.07     ┆ … ┆ 2344000 ┆ A      ┆ null    ┆ null    │
│ 2021-01-06 ┆ 118.690002 ┆ 123.879997 ┆ 118.209999 ┆ … ┆ 2428500 ┆ A      ┆ null    ┆ null    │
│ 2021-01-07 ┆ 124.330002 ┆ 127.480003 ┆ 124.110001 ┆ … ┆ 1775900 ┆ A      ┆ null    ┆ null    │
│ …          ┆ …          ┆ …          ┆ …          ┆ … ┆ …       ┆ …      ┆ …       ┆ …       │
│ 2023-03-07 ┆ 52.779999  ┆ 53.040001  ┆ 49.919998  ┆ … ┆ 6298100 ┆ AA     ┆ 50.4764 ┆ 49.9236 │
│ 2023-03-08 ┆ 50.41      ┆ 51.240002  ┆ 49.75      ┆ … ┆ 3467000 ┆ AA     ┆ 50.4276 ┆ 50.067  │
│ 2023-03-09 ┆ 50.700001  ┆ 51.139999  ┆ 47.330002  ┆ … ┆ 5590500 ┆ AA     ┆ 50.1604 ┆ 50.141  │
│ 2023-03-10 ┆ 48.119999  ┆ 48.119999  ┆ 44.459999  ┆ … ┆ 6190400 ┆ AA     ┆ 49.8104 ┆ 50.142  │
└────────────┴────────────┴────────────┴────────────┴───┴─────────┴────────┴─────────┴─────────┘

In [6]:
cross_up = pi.crossover_up(df, sma25.column, sma50.column)
cross_up.df

shape: (1100, 11)
┌────────────┬────────────┬────────────┬────────────┬───┬────────┬─────────┬─────────┬────────────┐
│ Date       ┆ Open       ┆ High       ┆ Low        ┆ … ┆ Symbol ┆ SMA25   ┆ SMA50   ┆ SMA25_cros │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---     ┆ ---     ┆ s_up_SMA50 │
│ date       ┆ f64        ┆ f64        ┆ f64        ┆   ┆ str    ┆ f64     ┆ f64     ┆ ---        │
│            ┆            ┆            ┆            ┆   ┆        ┆         ┆         ┆ bool       │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════╪═════════╪═════════╪════════════╡
│ 2021-01-04 ┆ 118.940002 ┆ 120.089996 ┆ 117.110001 ┆ … ┆ A      ┆ null    ┆ null    ┆ false      │
│ 2021-01-05 ┆ 118.480003 ┆ 120.32     ┆ 118.07     ┆ … ┆ A      ┆ null    ┆ null    ┆ null       │
│ 2021-01-06 ┆ 118.690002 ┆ 123.879997 ┆ 118.209999 ┆ … ┆ A      ┆ null    ┆ null    ┆ null       │
│ 2021-01-07 ┆ 124.330002 ┆ 127.480003 ┆ 124.110001 ┆ … ┆ A      ┆ null    ┆ null    ┆ null       │
│ …          ┆ …          ┆ …          ┆ …          ┆ … ┆ …      ┆ …       ┆ …       ┆ …          │
│ 2023-03-07 ┆ 52.779999  ┆ 53.040001  ┆ 49.919998  ┆ … ┆ AA     ┆ 50.4764 ┆ 49.9236 ┆ false      │
│ 2023-03-08 ┆ 50.41      ┆ 51.240002  ┆ 49.75      ┆ … ┆ AA     ┆ 50.4276 ┆ 50.067  ┆ false      │
│ 2023-03-09 ┆ 50.700001  ┆ 51.139999  ┆ 47.330002  ┆ … ┆ AA     ┆ 50.1604 ┆ 50.141  ┆ false      │
│ 2023-03-10 ┆ 48.119999  ┆ 48.119999  ┆ 44.459999  ┆ … ┆ AA     ┆ 49.8104 ┆ 50.142  ┆ false      │
└────────────┴────────────┴────────────┴────────────┴───┴────────┴─────────┴─────────┴────────────┘

In [7]:
#convert to open values
cross_up.df = cross_up.df.with_columns(pl.when(pl.col(cross_up.column)).then(pl.col("Open")).alias(cross_up.column))

In [8]:
trail = pi.trailing_stop(cross_up.df, bars=2)
t = trail.df.filter(pl.col("Date").is_between(datetime(2022, 6, 1), datetime(2022, 6, 18)) & (pl.col("Symbol") == "A"))
t

shape: (13, 12)
┌───────────┬───────────┬───────────┬──────────┬───┬──────────┬──────────┬────────────┬────────────┐
│ Date      ┆ Open      ┆ High      ┆ Low      ┆ … ┆ SMA25    ┆ SMA50    ┆ SMA25_cros ┆ 2_bar_trai │
│ ---       ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---      ┆ ---      ┆ s_up_SMA50 ┆ ling_stop  │
│ date      ┆ f64       ┆ f64       ┆ f64      ┆   ┆ f64      ┆ f64      ┆ ---        ┆ ---        │
│           ┆           ┆           ┆          ┆   ┆          ┆          ┆ f64        ┆ f64        │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪══════════╪══════════╪════════════╪════════════╡
│ 2022-06-0 ┆ 127.86000 ┆ 128.97999 ┆ 122.43   ┆ … ┆ 121.4512 ┆ 126.1233 ┆ null       ┆ 124.489998 │
│ 1         ┆ 1         ┆ 6         ┆          ┆   ┆          ┆ 99       ┆            ┆            │
│ 2022-06-0 ┆ 122.95999 ┆ 129.19000 ┆ 122.3000 ┆ … ┆ 121.908  ┆ 125.9196 ┆ null       ┆ 122.43     │
│ 2         ┆ 9         ┆ 2         ┆ 03       ┆   ┆          ┆          ┆            ┆            │
│ 2022-06-0 ┆ 127.62000 ┆ 128.72000 ┆ 126.4199 ┆ … ┆ 122.2052 ┆ 125.8058 ┆ null       ┆ null       │
│ 3         ┆ 3         ┆ 1         ┆ 98       ┆   ┆ 01       ┆          ┆            ┆            │
│ 2022-06-0 ┆ 129.38000 ┆ 130.0     ┆ 126.9700 ┆ … ┆ 122.5396 ┆ 125.6302 ┆ null       ┆ null       │
│ 6         ┆ 5         ┆           ┆ 01       ┆   ┆ 01       ┆          ┆            ┆            │
│ …         ┆ …         ┆ …         ┆ …        ┆ … ┆ …        ┆ …        ┆ …          ┆ …          │
│ 2022-06-1 ┆ 115.98999 ┆ 116.69999 ┆ 113.25   ┆ … ┆ 122.8648 ┆ 124.0587 ┆ null       ┆ 115.379997 │
│ 4         ┆ 8         ┆ 7         ┆          ┆   ┆          ┆ 99       ┆            ┆            │
│ 2022-06-1 ┆ 117.23999 ┆ 117.76999 ┆ 113.7699 ┆ … ┆ 122.858  ┆ 123.6919 ┆ null       ┆ null       │
│ 5         ┆ 8         ┆ 7         ┆ 97       ┆   ┆          ┆ 99       ┆            ┆            │
│ 2022-06-1 ┆ 113.80000 ┆ 115.08000 ┆ 113.3600 ┆ … ┆ 122.8968 ┆ 123.3259 ┆ null       ┆ null       │
│ 6         ┆ 3         ┆ 2         ┆ 01       ┆   ┆          ┆ 99       ┆            ┆            │
│ 2022-06-1 ┆ 114.76999 ┆ 116.73000 ┆ 112.6699 ┆ … ┆ 122.76   ┆ 122.9259 ┆ null       ┆ 113.360001 │
│ 7         ┆ 7         ┆ 3         ┆ 98       ┆   ┆          ┆ 99       ┆            ┆            │
└───────────┴───────────┴───────────┴──────────┴───┴──────────┴──────────┴────────────┴────────────┘

In [10]:
index = "row_nr"
column = "vals"
bars = 2
values = [0.1, 0.2, None, None, None, 1.1, 1.2, 1.3, 1.4, 1.5, None, 1.7]
ind = range(len(values))
d = {index: ind,
     column: values}
df = pl.DataFrame(d)
df

shape: (12, 2)
┌────────┬──────┐
│ row_nr ┆ vals │
│ ---    ┆ ---  │
│ i64    ┆ f64  │
╞════════╪══════╡
│ 0      ┆ 0.1  │
│ 1      ┆ 0.2  │
│ 2      ┆ null │
│ 3      ┆ null │
│ …      ┆ …    │
│ 8      ┆ 1.4  │
│ 9      ┆ 1.5  │
│ 10     ┆ null │
│ 11     ┆ 1.7  │
└────────┴──────┘

In [11]:
tes = "tes"
df = df.with_columns(pl.lit(True).alias(tes))
df

shape: (12, 3)
┌────────┬──────┬──────┐
│ row_nr ┆ vals ┆ tes  │
│ ---    ┆ ---  ┆ ---  │
│ i64    ┆ f64  ┆ bool │
╞════════╪══════╪══════╡
│ 0      ┆ 0.1  ┆ true │
│ 1      ┆ 0.2  ┆ true │
│ 2      ┆ null ┆ true │
│ 3      ┆ null ┆ true │
│ …      ┆ …    ┆ …    │
│ 8      ┆ 1.4  ┆ true │
│ 9      ┆ 1.5  ┆ true │
│ 10     ┆ null ┆ true │
│ 11     ┆ 1.7  ┆ true │
└────────┴──────┴──────┘

In [12]:

df = df.with_columns(pl.col(tes) & pl.col(column).shift(2).is_null().alias(tes))
df

shape: (12, 3)
┌────────┬──────┬───────┐
│ row_nr ┆ vals ┆ tes   │
│ ---    ┆ ---  ┆ ---   │
│ i64    ┆ f64  ┆ bool  │
╞════════╪══════╪═══════╡
│ 0      ┆ 0.1  ┆ true  │
│ 1      ┆ 0.2  ┆ true  │
│ 2      ┆ null ┆ false │
│ 3      ┆ null ┆ false │
│ …      ┆ …    ┆ …     │
│ 8      ┆ 1.4  ┆ false │
│ 9      ┆ 1.5  ┆ false │
│ 10     ┆ null ┆ false │
│ 11     ┆ 1.7  ┆ false │
└────────┴──────┴───────┘

In [13]:
df = df.with_columns(pl.col(tes) & pl.col(column).shift(1).is_null().alias(tes))
df

shape: (12, 3)
┌────────┬──────┬───────┐
│ row_nr ┆ vals ┆ tes   │
│ ---    ┆ ---  ┆ ---   │
│ i64    ┆ f64  ┆ bool  │
╞════════╪══════╪═══════╡
│ 0      ┆ 0.1  ┆ true  │
│ 1      ┆ 0.2  ┆ false │
│ 2      ┆ null ┆ false │
│ 3      ┆ null ┆ false │
│ …      ┆ …    ┆ …     │
│ 8      ┆ 1.4  ┆ false │
│ 9      ┆ 1.5  ┆ false │
│ 10     ┆ null ┆ false │
│ 11     ┆ 1.7  ┆ false │
└────────┴──────┴───────┘

In [14]:
df.with_columns(pl.when(pl.col(tes)).then(1).otherwise(0).cumsum().alias(col1))

NameError: name 'col1' is not defined

In [15]:
col1 = "col1"
df = df.with_columns(pl.when(pl.col(column).shift(2).is_null() & pl.col(column).shift(1).is_null()).then(1).otherwise(0).cumsum().alias(col1)) 
df

shape: (12, 4)
┌────────┬──────┬───────┬──────┐
│ row_nr ┆ vals ┆ tes   ┆ col1 │
│ ---    ┆ ---  ┆ ---   ┆ ---  │
│ i64    ┆ f64  ┆ bool  ┆ i32  │
╞════════╪══════╪═══════╪══════╡
│ 0      ┆ 0.1  ┆ true  ┆ 1    │
│ 1      ┆ 0.2  ┆ false ┆ 1    │
│ 2      ┆ null ┆ false ┆ 1    │
│ 3      ┆ null ┆ false ┆ 1    │
│ …      ┆ …    ┆ …     ┆ …    │
│ 8      ┆ 1.4  ┆ false ┆ 3    │
│ 9      ┆ 1.5  ┆ false ┆ 3    │
│ 10     ┆ null ┆ false ┆ 3    │
│ 11     ┆ 1.7  ┆ false ┆ 3    │
└────────┴──────┴───────┴──────┘

In [16]:
col2 = "col2"
ones = "ones"
df = df.with_columns(pl.lit(1).alias(ones)).with_columns(pl.col(ones).cumsum().over(col1).alias(col2))
df

shape: (12, 6)
┌────────┬──────┬───────┬──────┬──────┬──────┐
│ row_nr ┆ vals ┆ tes   ┆ col1 ┆ ones ┆ col2 │
│ ---    ┆ ---  ┆ ---   ┆ ---  ┆ ---  ┆ ---  │
│ i64    ┆ f64  ┆ bool  ┆ i32  ┆ i32  ┆ i32  │
╞════════╪══════╪═══════╪══════╪══════╪══════╡
│ 0      ┆ 0.1  ┆ true  ┆ 1    ┆ 1    ┆ 1    │
│ 1      ┆ 0.2  ┆ false ┆ 1    ┆ 1    ┆ 2    │
│ 2      ┆ null ┆ false ┆ 1    ┆ 1    ┆ 3    │
│ 3      ┆ null ┆ false ┆ 1    ┆ 1    ┆ 4    │
│ …      ┆ …    ┆ …     ┆ …    ┆ …    ┆ …    │
│ 8      ┆ 1.4  ┆ false ┆ 3    ┆ 1    ┆ 4    │
│ 9      ┆ 1.5  ┆ false ┆ 3    ┆ 1    ┆ 5    │
│ 10     ┆ null ┆ false ┆ 3    ┆ 1    ┆ 6    │
│ 11     ┆ 1.7  ┆ false ┆ 3    ┆ 1    ┆ 7    │
└────────┴──────┴───────┴──────┴──────┴──────┘

In [17]:
df.with_columns(pl.when(pl.col(col2) % 3 != 1).then(0).otherwise(pl.col(col2)))

shape: (12, 7)
┌────────┬──────┬───────┬──────┬──────┬──────┬─────────┐
│ row_nr ┆ vals ┆ tes   ┆ col1 ┆ ones ┆ col2 ┆ literal │
│ ---    ┆ ---  ┆ ---   ┆ ---  ┆ ---  ┆ ---  ┆ ---     │
│ i64    ┆ f64  ┆ bool  ┆ i32  ┆ i32  ┆ i32  ┆ i32     │
╞════════╪══════╪═══════╪══════╪══════╪══════╪═════════╡
│ 0      ┆ 0.1  ┆ true  ┆ 1    ┆ 1    ┆ 1    ┆ 1       │
│ 1      ┆ 0.2  ┆ false ┆ 1    ┆ 1    ┆ 2    ┆ 0       │
│ 2      ┆ null ┆ false ┆ 1    ┆ 1    ┆ 3    ┆ 0       │
│ 3      ┆ null ┆ false ┆ 1    ┆ 1    ┆ 4    ┆ 4       │
│ …      ┆ …    ┆ …     ┆ …    ┆ …    ┆ …    ┆ …       │
│ 8      ┆ 1.4  ┆ false ┆ 3    ┆ 1    ┆ 4    ┆ 4       │
│ 9      ┆ 1.5  ┆ false ┆ 3    ┆ 1    ┆ 5    ┆ 0       │
│ 10     ┆ null ┆ false ┆ 3    ┆ 1    ┆ 6    ┆ 0       │
│ 11     ┆ 1.7  ┆ false ┆ 3    ┆ 1    ┆ 7    ┆ 7       │
└────────┴──────┴───────┴──────┴──────┴──────┴─────────┘

In [13]:
def group_by_bars(df: pl.DataFrame | pl.LazyFrame, nulls: int, column: str) -> IndicatorResult:
    """groups trades together allowing for a specified number of nulls in each group"""
    column_name = f"group_{nulls}"
    if column_name in df.columns:
        return IndicatorResult(df, column_name)
    
    tes = "tes"
    df = df.with_columns(pl.lit(True).alias(tes))
    
    for i in range(1, nulls+1):
        df = df.with_columns(pl.col(tes) & pl.col(column).shift(i).is_null().alias(tes))

    df = df.with_columns(pl.when(pl.col(tes)).then(1).otherwise(0).cumsum().alias(column_name)) 

    return IndicatorResult(df, column_name)
def limit_entries(df: pl.DataFrame | pl.LazyFrame, bars: int, entries: str) -> IndicatorResult:
    """Forces a minimum number of bars between entries"""
    column_name = f"{bars}_minimum_bars_between"
    if column_name in df.columns:
        return IndicatorResult(df, column_name)
    
    group = group_by_bars(df, bars, entries)

    ones = "ones"

    df = group.df

    sum = "sum"
    df = group.df.with_columns(pl.lit(1).alias(ones)).with_columns(pl.col(ones).cumsum().over(group.column).alias(sum))

    df = df.with_columns(pl.when(pl.col(sum) % (bars+1) == 1).then(pl.col(entries)).alias(column_name))


    return IndicatorResult(df, column_name)

index = "row_nr"
column = "vals"
values = [0.1, 0.2, None, None, None, 1.1, 1.2, 1.3, 1.4, 1.5, None, 1.7]
ind = range(len(values))
d = {index: ind,
     column: values}
df = pl.DataFrame(d)
df
group_by_bars(df, 2, column).df
limit_entries(df, 2, column).df

shape: (12, 7)
┌────────┬──────┬───────┬─────────┬──────┬─────┬────────────────────────┐
│ row_nr ┆ vals ┆ tes   ┆ group_2 ┆ ones ┆ sum ┆ 2_minimum_bars_between │
│ ---    ┆ ---  ┆ ---   ┆ ---     ┆ ---  ┆ --- ┆ ---                    │
│ i64    ┆ f64  ┆ bool  ┆ i32     ┆ i32  ┆ i32 ┆ f64                    │
╞════════╪══════╪═══════╪═════════╪══════╪═════╪════════════════════════╡
│ 0      ┆ 0.1  ┆ true  ┆ 1       ┆ 1    ┆ 1   ┆ 0.1                    │
│ 1      ┆ 0.2  ┆ false ┆ 1       ┆ 1    ┆ 2   ┆ null                   │
│ 2      ┆ null ┆ false ┆ 1       ┆ 1    ┆ 3   ┆ null                   │
│ 3      ┆ null ┆ false ┆ 1       ┆ 1    ┆ 4   ┆ null                   │
│ …      ┆ …    ┆ …     ┆ …       ┆ …    ┆ …   ┆ …                      │
│ 8      ┆ 1.4  ┆ false ┆ 3       ┆ 1    ┆ 4   ┆ 1.4                    │
│ 9      ┆ 1.5  ┆ false ┆ 3       ┆ 1    ┆ 5   ┆ null                   │
│ 10     ┆ null ┆ false ┆ 3       ┆ 1    ┆ 6   ┆ null                   │
│ 11     ┆ 1.7  ┆ false ┆ 3       ┆ 1    ┆ 7   ┆ 1.7                    │
└────────┴──────┴───────┴─────────┴──────┴─────┴────────────────────────┘

In [ ]:
ret = pi.create_trade_ids(trail.df, cross_up.column, trail.column)

In [ ]:
pi.summarize_trades(ret.df, ret.column, cross_up.column, trail.column)